.episode-table {
  height: 250px;
}

.episode-item-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: auto;
  height: 200px;
  margin: 10px 0px;
}

.episode-item-box p {
  margin: 10px 20px;
}

.episode-table h4 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 50px;
}

/* laptop version and mobile */
@media (max-width: 1050px) {
  .episode-table h4 {
    font-size: 1em;
  }
  .episode-table h2 {
    font-size: 1.2em;
  }
}

/* tablet and mobile version */
@media (max-width: 770px) {
  .episode-item-box {
    height: 100px;
  }
}
