.home {
  display: flex;
}
.episode-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  width: 40vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.episode-table-container::-webkit-scrollbar,
.character-card-container::-webkit-scrollbar,
.episode-item-box::-webkit-scrollbar {
  width: 8px;
}

.episode-table-container::-webkit-scrollbar-thumb,
.character-card-container::-webkit-scrollbar-thumb,
.episode-item-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.episode-table-container::-webkit-scrollbar-thumb:hover,
.character-card-container::-webkit-scrollbar-thumb:hover,
.episode-item-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* laptop version */
@media (max-width: 1050px) {
  .episode-table-container {
    width: 40vw;
    padding: 1em;
  }
}

/* tablet and mobile version */
@media (max-width: 770px) {
  .home {
    flex-direction: column;
  }
  .episode-table-container {
    width: 100%;
    padding: 2em;
    min-height: 100vh;
  }
}
